Source/Sitecore.ContentSearch.Spatial/bin/Sitecore.ContentSearch.Linq.Lucene.dll
Source/Sitecore.ContentSearch.Spatial/bin/Sitecore.Kernel.dll
Source/Sitecore.ContentSearch.Spatial/bin/Sitecore.Logging.dll
Source/Sitecore.ContentSearch.Spatial/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/Sitecore.ContentSearch.Spatial/obj/Debug/Sitecore.ContentSearch.Spatial.csproj.FileListAbsolute.txt
Source/Sitecore.ContentSearch.Spatial/obj/Debug/Sitecore.ContentSearch.Spatial.csprojResolveAssemblyReference.cache
Source/Sitecore.ContentSearch.Spatial/obj/Debug/Sitecore.ContentSearch.Spatial.pdb
Source/Sitecore.ContentSearch.Spatial/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Source/Sitecore.ContentSearch.Spatial/Sitecore.ContentSearch.Spatial.csproj.user
Source/Sitecore.ContentSearch.Spatial/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Source/Sitecore.ContentSearch.Spatial.v12.suo
Source/Sitecore.ContentSearch.Spatial.v12.suo
Source/Sitecore.ContentSearch.Spatial.v12.suo
Source/Sitecore.ContentSearch.Spatial/obj/Debug/build.force
Source/Sitecore.ContentSearch.Spatial/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/Sitecore.ContentSearch.Spatial/bin/Sitecore.ContentSearch.dll
Source/Sitecore.ContentSearch.Spatial/bin/Sitecore.ContentSearch.Linq.dll
Source/Sitecore.ContentSearch.Spatial/bin/Sitecore.ContentSearch.LuceneProvider.dll
Source/Sitecore.ContentSearch.Spatial.v12.suo