<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearchSpatial>
      <IncludeTemplates>
        <!-- * Include your location template details, like template id, latitude field name and longitude field name
             * You can include multiple templates 
        -->
        <!--<Template id="{TEMPLATE ID}" LatitudeField="LATITUDE_FIELD_NAME" LongitudeField="LONGITUDE_FIELD_NAME"></Template>-->
      </IncludeTemplates>
    </contentSearchSpatial>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <!-- Update you index to use LuceneIndexWithSpatial class
               -->
          <index id="YOUR_INDEX_NAME" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <patch:attribute name="type">Sitecore.ContentSearch.Spatial.Provider.Lucene.LuceneIndexWithSpatial, Sitecore.ContentSearch.Spatial</patch:attribute>
          </index>
        </indexes>
      </configuration>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <!-- Make sure these two fields exists in your lucene index configurations
               -->
              <field fieldName="spatialgeolocation__x" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Double" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
              <field fieldName="spatialgeolocation__y" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Double" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
            </fieldNames>
          </fieldMap>
		  <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
			  <fields hint="raw:AddComputedIndexField">
				<!-- Make sure these two computed fields exists in your lucene index configurations
				   -->
				<field fieldName="spatialgeolocation__x">Sitecore.ContentSearch.Spatial.ComputedFields.LocationCoordinates, Sitecore.ContentSearch.Spatial</field>
				<field fieldName="spatialgeolocation__y">Sitecore.ContentSearch.Spatial.ComputedFields.LocationCoordinates, Sitecore.ContentSearch.Spatial</field>
			  </fields>
		  </documentOptions>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>