<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearchSpatial>
      <IncludeTemplates>
        <!-- * Include your location template details, like template id, latitude field name and longitude field name
             * You can include multiple templates 
        -->
        <!--<Template id="{TEMPLATE ID}" LatitudeField="[Latitude Field Name]" LongitudeField="[Longitude Field Name]"></Template>-->
      </IncludeTemplates>
    </contentSearchSpatial>
  <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <documentBuilderType>Sitecore.ContentSearch.Spatial.Indexing.LuceneSpatialDocumentBuilder, Sitecore.ContentSearch.Spatial</documentBuilderType>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sitecore_master_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <patch:attribute name="type">Sitecore.ContentSearch.Spatial.Provider.Lucene.LuceneIndexWithSpatial, Sitecore.ContentSearch.Spatial</patch:attribute>
          </index>
          <index id="sitecore_web_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <patch:attribute name="type">Sitecore.ContentSearch.Spatial.Provider.Lucene.LuceneIndexWithSpatial, Sitecore.ContentSearch.Spatial</patch:attribute>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  <controlSources>
      <source mode="on" namespace="Sitecore.ContentSearch.Spatial.DataTypes.CustomControls" assembly="Sitecore.ContentSearch.Spatial.DataTypes" prefix="customfields" />
    </controlSources>
  </sitecore>
</configuration>